<h2 mat-dialog-title>Manage Post</h2>

<form [formGroup]="createThingForm" mat-dialog-content autocomplete="off">
    <div *ngFor="let attribute of createThingForm.get('attributes')?.controls; let i = index"
         formArrayName="attributes">
        <div [formGroupName]="i">
            <ng-container [ngSwitch]="attribute.get('type').value">
                <mat-form-field class="w-100" *ngSwitchCase="'text'">
                    <input formControlName="value"
                           type="text"
                           [placeholder]="attribute.get('key').value"
                           matInput
                           [value]="attribute.get('value').value">
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'textarea'" class="w-100">
                    <textarea [placeholder]="attribute.get('key').value"
                              formControlName="value"
                              matInput
                              [value]="attribute.get('value').value">
                    </textarea>
                </mat-form-field>
            </ng-container>
        </div>
    </div>
</form>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="submit()" color="primary">Submit</button>
</mat-dialog-actions>
