::ng-deep {
    @import "scss/material";
    @import "~bootstrap/scss/bootstrap-grid";
    @import "~bootstrap/scss/utilities/sizing";
}

.sidenav-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav {
    width: 200px;
}

::ng-deep {
    button.fab-fixed {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }

    mat-dialog-content, mat-dialog-container {
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    .mat-row:hover {
        background-color: #f9f9f9;
        cursor: pointer;
    }
}
